---
import restaurants from '../data/restaurants.json';

import BaseLayout from '../layouts/base.astro';
import Card from '../components/card.astro';
---

<BaseLayout>
	<h1 class="text-3xl font-extrabold font-heading text-center mb-8 text-slate-800">Del Ray Eats</h1>
	<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 items-stretch">
		{restaurants.map(restaurant => (
			<li>
				<Card restaurant={restaurant} />
			</li>
		))}
	</ul>
</BaseLayout>
