---
import restaurants from '../data/restaurants.json';

import BaseLayout from '../layouts/base.astro';
import Card from '../components/card.astro';
---

<BaseLayout>
	<h1>Del Ray Eats</h1>
	<ul>
		{restaurants.map(restaurant => (
			<li>
				<Card restaurant={restaurant} />
			</li>
		))}
	</ul>
</BaseLayout>
