---
import restaurants from '../data/restaurants.json';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Astro</title>
		<style>
			/* scoped CSS styles go here: */
			/* h1 { ... } */
		</style>
	</head>

	<body>
		<h1>Del Ray Eats</h1>
		<ul>
			{restaurants.map(restaurant => (<li>{restaurant.name}</li>))}
		</ul>
	</body>
</html>
