---
const {href, external} = Astro.props
---

<a
  class="bg-green-600 cursor-pointer font-semibold font-sans leading-5 px-4 py-2 rounded-full text-center text-lg text-white text-center"
  href={href}
  rel={external ? "noopener noreferrer" : undefined}
  target={external ? "_blank" : undefined}>
  <slot />
</a>