---
  const {title} = Astro.props
---
<html>
  <head>
    <title>{title ? `${title} | Del Ray Eats` : "Del Ray Eats"}</title>
    <meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
  </head>
  <body>
    <slot />
  </body>
</html>